@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-950 text-gray-100 antialiased;
  }
}

@layer components {
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #475569 #1e293b;
  }
  
  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-track {
    @apply bg-dark-800;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply bg-dark-600 rounded-lg;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    @apply bg-dark-500;
  }
}
